@page
@model PrivacyModel
@{
    ViewData["Title"] = "Buy Me A Coffee";
}
<div class="container d-flex flex-column align-items-center">
    <h1 class="text-light">@ViewData["Title"] <i class="bi bi-cup-hot-fill coffee"></i></h1>

    <p class="text-light">If you like my website on free advices, you can buy me a coffee. Here's how:</p>
    <ol class="text-secondary">
        <li>Visit the <a href="https://www.buymeacoffee.com" class="text-primary fw-bolb text-decoration-none">BuyMeACoffee</a> website and create an account if you dont have an account with it.</li>
        <li>If you have an account, click <a href="https://www.buymeacoffee.com/iAmCodex" class="text-primary fw-bolb text-decoration-none">here</a> to go to my profile. </li>
        <li>Click on the "Buy a coffee" button and select the number of coffee's you want to buy for me. </li>
        <li>Choose your payment method (credit card or PayPal) and provide your payment information.</li>
        <li>You can follow the instructions there after choosing your payment method.</li>
        <li>Sending a thank you to  <a href="mailto:henryspeedola@gmail.com?subject=Thank%20You%20Letter" class="text-success fw-bold text-decoration-none">Me</a> is also a great way to buy me a coffee 😊😊</li>
    </ol>

    
</div>